@use "sass:math";
@use 'global';
@use 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/magnific-popup/dist/magnific-popup";


$root-font-size: 16;

@function s($size) {
  @return math.div($size, $root-font-size) * 1rem;
}

html {
  font-family: 'Kinetika';
  font-size: 100%;
}

body {
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.5;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  min-width: 1200px;
}

a {
  transition: .3s;
}

@layer base {
  body {
    @apply text-main
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  p {
    @apply mb-4
  }

  input, textarea, button {
    @apply outline-none
  }
}

.header {
  &__container {
    grid-template-columns: 2fr 6fr 2fr 2fr;
  }
}

.offer {
  background-image: url("../images/elements/offer-bg.png");
  background-size: 1920px 448px;
  background-position: center top;

  &__img {
    bottom: 3rem;
    right: 4rem;
    transform: translateY(100%);
  }
}

.gradient-btn {
  background: linear-gradient(180deg, #0D4DA1 0%, #00AEEF 100%);

}

.offer-calc {
  box-shadow: 0 31px 57px -6px rgba(0,0,0, 0.1);
  max-width: s(545);
}