mixin aside()
    aside
        div(class='bg-white rounded-20px p-5 xl:p-6')
            ul(class="grid gap-y-4")
                li(class='aside-li active flex items-start relative pb-1')
                    a(href='#' class='text-lg hover:opacity-80') Новая заявка
                    div(class='rounded-full flex items-center justify-center w-4 h-4 text-white text-xs font-semibold bg-5C ml-2') 6
                li(class='aside-li flex items-start relative pb-1')
                    a(href='#' class='text-lg hover:opacity-80') Мои займы
                li(class='aside-li flex items-start relative pb-1')
                    a(href='#' class='text-lg hover:opacity-80') Мои данные
                li(class='aside-li flex items-start relative pb-1')
                    a(href='#' class='text-lg hover:opacity-80') Акции
                li(class='aside-li flex items-start relative pb-1')
                    a(href='#' class='text-lg hover:opacity-80') Уведомления
                li(class='aside-li flex items-start relative pb-1')
                    a(href='#' class='text-lg hover:opacity-80') Корреспонденция
                    div(class='rounded-full flex items-center justify-center w-4 h-4 text-white text-xs font-semibold bg-5C ml-2') 6
                li(class='aside-li flex items-start relative pb-1')
                    a(href='#' class='text-lg hover:opacity-80') Связаться с нами
            div(class='mt-6 text-base')
                a(href='#' class='hover:opacity-80') Выйти из профиля