mixin btn-prev(text)
    div(class='flex items-center justify-center font-semibold border border-blue rounded-3xl w-full px-4 text-main text-sm h-12 hover:opacity-80 transition duration-300 cursor-pointer')= text