mixin checkbox-gray
    label(class='flex-shrink-0 mr-3')
        input(type='checkbox' class="checkbox-gray hidden")
        span(class='checkbox-gray-custom flex items-center justify-center w-4 h-4 mt-0.5 cursor-pointer')