mixin info-btn()
    div(class='info-btn relative mt-0.5 ml-2 cursor pointer')
        img(src=require('./images/elements/info.svg'))
        div(class="info-btn__text hidden absolute shadow-sm rounded-lg bg-white p-4 w-80 top-0 left-5 text-xs z-20")
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquam at deleniti, dignissimos eos eum excepturi fugiat fugit labore modi possimus praesentium quo. Aspernatur assumenda facilis odio? Delectus, nostrum.