mixin inputReadOnly(text, adClass, value)
    div(class="relative border border-91 flex items-center justify-between rounded-lg py-2 pl-4 pr-5 h-14")
        input(required readonly type="text" value=`${value}` name="example" class=`style-input ${adClass} relative mt-2 text-base w-full z-10 bg-transparent`)
        label(class="style-input-label absolute text-base text-gray flex items-center")= text