mixin inputValidate(text, adClass)
    div(class=`input-validate ${adClass} relative border border-91 flex items-center justify-between rounded-lg py-2 pl-4 pr-5 h-14`)
        input(required type="number" name="example" class=`style-input relative mt-2 text-base w-full z-10 bg-transparent`)
        label(class="style-input-label absolute text-base text-gray flex items-center")= text