mixin input-dropdown(text, adClass)
    div(class="input-dropdown flex items-center justify-between relative border border-91 rounded-lg h-14 z-20")
        div(class="input-dropdown__input-wrap flex flex-grow items-center justify-between h-full pl-4")
            input(required type="text" name="example" class=`mt-2 input-dropdown__input pointer-events-none style-input ${adClass} relative text-base w-full z-10 bg-transparent`)
            label(class="style-input-label absolute text-base text-gray flex items-center")= text
        div(class="dropdown-icon flex-shrink-0 px-4 py-4")
            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L9 9L17 1" stroke="black"/>
            </svg>
        div(class="input-dropdown__variants font-medium bg-F4 transform translate-y-full absolute border border-91 rounded-lg w-full bottom-0 left-0 z-20")
            div(class="input-dropdown__list overflow-y-auto" style="max-height: 15rem")
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация1
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация2
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация3
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация4
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация5
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация6
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация7
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация8
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация9
                div(class="input-dropdown__item cursor-pointer hover:bg-[#EAEAEA] pt-1.5 pb-1.5 px-4") Авиация10
