mixin input-date(placeholder, adClass)
    div(class="border border-91 flex items-center justify-between rounded-lg py-2 pl-4 pr-5 h-14")
        input(type="date" name="" class=`text-base w-full bg-transparent ${adClass}` placeholder=`${placeholder}`)


