mixin question(title)
    div(class="question rounded-lg shadow-plate bg-white pl-4 pr-5")
        div(class='question__caption text-8A text-sm flex items-start justify-between py-4 hover:opacity-80 cursor-pointer')
            div(class='mr-4')= title
            img(src=require('./images/elements/chevron-down.svg') class='question__chevron transition duration-300 flex-shrink-0 mt-1')
        div(class='question__content hidden text-sm pb-4')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est neque numquam sit. Aspernatur consequatur dolore doloremque id, illo ipsum magni mollitia nisi officiis quas recusandae sed similique sit, vero voluptate?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, odio, vitae. Animi commodi consectetur delectus deleniti deserunt dolorem facere fuga laborum magnam numquam odio porro quae quam ratione reiciendis, repellat.