footer(class='footer bg-dark-blue text-white text-xs pt-12 pb-16')
    div(class="container")
        div
            img(src=require('../images/elements/logo-white.svg') alt="Глав Финанс")
        div(class="footer__template grid gap-8 justify-between items-start mt-10")
            div
                div © Общество с ограниченной ответственностью Микрокредитная компания «Главная Финансовая Компания», ООО МКК «ГФК»
                    <br> ИНН 2310161900, ОГРН 1122310002572
                    <br> Регистрационный номер записи в государственном реестре микрофинансовых организаций: 2120323001658
                    <br> Дата внесения сведений в государственный реестр микрофинансовых организаций: 19.06.2012
                div(class="mt-6")
                    div
                        a(href="#" class="underline") Центральный Банк Российской Федерации
                    div
                        a(href="#" class="underline") Государственный реестр микрофинансовых организаций
                    div
                        a(href="#" class="underline") Интернет-приемная Банка России
                div(class="mt-6")
                    div ООО МКК "ГФК" является членом СРО "МиР". Регистрационный номер в СРО 23 000288. Дата вступления 12.01.2016
                    div Сайт СРО "МиР": <a href="http://www.npmir.ru/">http://www.npmir.ru/</a>
                    div Адрес СРО "МиР": 107078, г. Москва, Орликов переулок, д.5, стр.1, этаж 2, пом.11
                    div Форма для подачи жалоб в СРО "МиР": <a href="http://www.npmir.ru/feedback/users/">http://www.npmir.ru/feedback/users/</a>
                div(class="mt-6")
                    | Потребители финансовых услуг вправе направить обращение финансовому уполномоченному в соответствии со статьями 15-19 Федерального закона от 4 июня 2018 года N 123-ФЗ "Об уполномоченном по правам потребителей финансовых услуг" по следующим каналам связи:
                    | Адрес местонахождения и почтовый адрес: 119017, г. Москва, Старомонетный пер., дом 3
                div(class="mt-6") <a href="#" class="underline">Сайт финансового уполномоченного</a> Контактный центр Службы финансового уполномоченного <a href="tel: +78002000010">8 (800) 200-00-10
                div(class="mt-10") Продолжая использовать данный сайт, вы соглашаетесь с условиями обработки персональных данных.
            div(class="grid grid-cols-2 gap-8")
                ul(class="grid gap-2")
                    li
                        a(href="#" class="hover:opacity-80") Требования к заёмщику
                    li
                        a(href="#" class="hover:opacity-80") Заполните анкету
                    li
                        a(href="#" class="hover:opacity-80") Политика безопасности
                    li
                        a(href="#" class="hover:opacity-80") Нормативные документы
                    li
                        a(href="#" class="hover:opacity-80") Политика конфиденциальности
                    li
                        a(href="#" class="hover:opacity-80") Информация для заемщика
                    li
                        a(href="#" class="hover:opacity-80") Погасить заём
                    li
                        a(href="#" class="hover:opacity-80") Карта сайта
                    li
                        a(href="#" class="hover:opacity-80") О компании
                    li
                        a(href="#" class="hover:opacity-80") Брошюра "Микрофинансовая организация"
                    li
                        a(href="#" class="hover:opacity-80") Инструкция по обращению к финансовому омбудсмену
                    li
                        a(href="#" class="hover:opacity-80") Ваша финансовая безопасность
                ul(class="grid gap-2")
                    li
                        a(href="#" class="hover:opacity-80") Займ на карту Сбербанка
                    li
                        a(href="#" class="hover:opacity-80") Микрозаймы онлайн
                    li
                        a(href="#" class="hover:opacity-80") Микрозайм на карту
                    li
                        a(href="#" class="hover:opacity-80") Быстрый займ денег
                    li
                        a(href="#" class="hover:opacity-80") Деньги в долг
                    li
                        a(href="#" class="hover:opacity-80") Займ с плохой кредитной историей
                    li
                        a(href="#" class="hover:opacity-80") Срочный займ
                    li
                        a(href="#" class="hover:opacity-80") Онлайн кредит
                    li
                        a(href="#" class="hover:opacity-80") Микрокредиты на карту
                    li
                        a(href="#" class="hover:opacity-80") Мини заем
                    li
                        a(href="#" class="hover:opacity-80") Мини кредит
                    li
                        a(href="#" class="hover:opacity-80") Мини-займ
                    li
                        a(href="#" class="hover:opacity-80") Срочный займ по паспорту
                    li
                        a(href="#" class="hover:opacity-80") Частные займы срочно
                    li
                        a(href="#" class="hover:opacity-80") Микрофинансирование онлайн