header(class='header py-4')
    div(class="header__container container grid items-center gap-x-8")
        img(src=require('../images/elements/logo.svg') alt='Глав Финанс')
        nav()
            ul(class="font-semibold flex -mx-4")
                li(class="px-4")
                    a(href="#" class="hover:opacity-80") Как взять займ
                li(class="px-4")
                    a(href="#" class="hover:opacity-80") Как погасить займ
                li(class="px-4")
                    a(href="#" class="hover:opacity-80") Вопросы и ответы
        div(class="flex justify-end")
            a(href="#" class="border border-blue rounded-20px h-8 px-3 inline-flex items-center justify-center font-semibold text-base hover:opacity-80") Личный кабинет
        div(class="flex justify-end")
            a(href="tel:+78003334788" class="font-semibold text-xl xl:text-2xl hover:opacity-80") 8-800-333-47-88