div(class='short-logo w-[4.5rem] h-[4.5rem] bg-[#164194] mx-auto relative overflow-hidden')
    img(src=require('../images/elements/short-logo.svg') alt='Главфинанс' class='short-logo__center block mx-auto absolute')