extends main

block content
    div(class="bg-F4 pb-44")
        div(class="offer max-w-[1920px] mx-auto bg-no-repeat pt-28 pb-36")
            div(class="container")
                div(class="flex items-start -mx-4")
                    div(class="text-white relative w-7/12 px-4")
                        h1(class="font-semibold text-6xl xl:text-7xl") Самое лучшее УТП
                        div(class="text-2xl mt-6 max-w-[36rem]")
                            p Подстрочник, который раскрывает его суть и&nbsp;усиливает эффект
                        div(class="offer__img absolute")
                            img(src=require('./images/elements/offer-phone-black.png'))
                    div(class="w-5/12 px-4")
                        include pug/_offer-culc-v-2