extends steps

block content
    +title('Рассматриваем вашу заявку')
    div(class="text-center text-base text-87 mt-2")
        | Возможно в процессе рассмотрения мы попросим ответить на дополнительные вопросы, не закрывайте эту страницу s
    div(class='mt-5')
        include pug/_short-logo
    div(class='text-lg font-semibold mt-10') Мы хотим уточнить
    div(class='text-gray mt-3') Текст вопроса, который мы хотим уточнить для скоринга
    form(class='mt-4')
        +textarea('Поле для ответа')
        div(class="mt-6")
            +btnGradient('Отправить')


