extends steps

block content
    +title('Решение по вашей заявке')
    div(class="text-center text-base text-87 mt-8")
        p К сожалению, мы не можем выдать вам займ, но это наверняка могут наши партнёры. У разных компаний разные подходы к оценке клиента, и нажав кнопку, Вы получите доступ к тем кредиторам, кто готов выдать займ именно Вам!
    div(class='mt-6')
        +btnGradient('Взять займы у партнёров')
    div(class='mt-3')
        +btn-prev('Предыдущий шаг')
    div(class='mt-5')
        include pug/_short-logo
