extends steps

block content
    +title('Подписание документов')
    div(class="bg-white shadow-plate mt-12 rounded-20px p-6 px-5")
        h2(class="font-semibold mb-2") Ознакомьтесь с документами
        div
            p(class='text-gray text-base') Подпишите документы с помощью СМС кода
        div(class="grid gap-y-4 mt-3")
            a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Общие условия договора
            a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Индивидуальные условия договора
            a(href="#" class="flex items-start max-w-[18rem] hover:opacity-80")
                img(src=require('./images/elements/document.svg') class="flex-shrink-0 mr-4")
                div(class="text-sm text-black") Заявка на предоставление займа
    form(class='mt-8')
        div
            +inputValidate('Код из СМС')
            +inputCaption('Направили СМС на номер +7 928 468 20 61')
        div(class="mt-6")
            +btnGradient('Подписать')
    div(class='text-center mt-4')
        a(href='#' class='text-base text-center font-semibold hover:opacity-80') Получить новый код через 30 сек
    div(class='mt-3')
        +btn-prev('Предыдущий шаг')



