extends main-lk-page

block content
    h1(class='text-5xl font-semibold') Как взять займ
    div(class='text-gray text-base mt-4') Три простых шага, от 4 минут Вашего времени – и деньги у Вас!
    div(class='grid grid-cols-3 gap-x-8 mt-6')
        div(class='rounded-md bg-white px-6 py-6')
            div(class='flex')
                div(class='flex flex-shrink-0 items-center justify-center font-semibold text-[2.5rem] text-[#E3E3E3] border border-[#E3E3E3] rounded-full w-12 h-12 mr-4') 1
                div(class='text-xl font-semibold') Заполните простую и удобную заявку
            div(class='text-gray text-base mt-4') Простая и понятная форма заявки на получение займа. Для ее заполнения Вам понадобятся: Российский паспорт и мобильный телефон. Время заполнения - 4 минуты!
        div(class='rounded-md bg-white px-6 py-6')
            div(class='flex')
                div(class='flex flex-shrink-0 items-center justify-center font-semibold text-[2.5rem] text-[#E3E3E3] border border-[#E3E3E3] rounded-full w-12 h-12 mr-4') 2
                div(class='text-xl font-semibold') Дождитесь решения по вашей заявке
            div(class='text-gray text-base mt-4') В процессе решения по вашей заявке мы можем задать уточняющие вопросы, время рассмотрения 60-90 секунд
        div(class='rounded-md bg-white px-6 py-6')
            div(class='flex')
                div(class='flex flex-shrink-0 items-center justify-center font-semibold text-[2.5rem] text-[#E3E3E3] border border-[#E3E3E3] rounded-full w-12 h-12 mr-4') 3
                div(class='text-xl font-semibold') Подпишите договор и получите деньги
            div(class='text-gray text-base mt-4') Подпишите договор с помощью уникального СМС-кода, пришедшего на Ваш телефон. Деньги будут мгновенно переведены на банковскую карту
    div(class='bg-white rounded-20px mt-6 py-6 px-6 pb-8')
        h3(class='font-semibold text-2xl') Пожалуйста, не забудьте о своевременном погашении займа.
        div(class='max-w-5xl mt-4')
            p Погасить заём вы можете любым удобным для вас способом: без комиссии через терминалы QIWI и онлайн банковской картой в Личном кабинете. Подробнее о способах оплаты вы можете узнать на странице Как погасить займ.
    div(class='calc-bottom-grid mt-14')
        div
            h3(class='font-semibold text-2xl') Требования к заемщикам
            div(class='text-base mt-4')
                p Моментальный кредит доступен всем совершеннолетним и дееспособным гражданам России. Поэтому получить средства могут даже те, кому отказывают в выдаче банковских кредитов, в том числе:
                ul(class='py-8 list-disc list-inside')
                    li Возраст: от 18 лет
                    li Гражданство: РФ
                    li Необходимые документы: паспорт гражданина РФ
                    li Кредитная история: любая
                    li Наличие доступа в интернет и мобильного телефона
                    li Пенсионеры
                    li Безработные Лица, недавно получившие российское гражданство.
                p Взять срочный онлайн-займ не помешает даже плохая кредитная история. Наоборот — это отличный способ максимально быстро и просто исправить кредитное прошлое, чтобы стать надежным заемщиком для банковских организаций и получить возможность оформить стандартный кредит на большую сумму. Из документов желающим получить онлайн-микрокредит нужен только российский паспорт. Обеспечивать свои обязательства по возврату заемных средств залогом или поручительством не требуется. Из документов желающим получить онлайн-микрокредит нужен только российский паспорт. Обеспечивать свои обязательства по возврату заемных средств залогом или поручительством не требуется. Из документов желающим получить онлайн-микрокредит нужен только российский паспорт. Обеспечивать свои обязательства по возврату заемных средств залогом или поручительством не требуется.
        div
            +calc-sm
