extends main-lk

block content
    +lk-h3('Займ по договору №12312849109')
    div(class='flex items-start mt-5')
        img(src=require('./images/elements/alert.svg') class='mr-2.5 mt-1')
        div(class='text-base')
            span Статус:&nbsp;
            span(class='font-semibold') Просрочен на 31 день
    div(class='text-gray max-w-[40rem] mt-4')
        p Для оформления реструктуризации оплатите начисленные на текущую дату проценты на сумму <strong>2400</strong> руб
        p Оставшуюся задолженность необходимо погашать по следующему графику
    div(class='max-w-[34rem] mt-4')
        table(class='lk-table text-gray text-center w-full')
            thead
            tr
                td №
                td Дата платежа
                td Сумма платежа, ₽
                td Остаток долга
            tbody
                tr
                    td 1
                    td 28.08.21
                    td 4000
                    td 4000
                tr
                    td 2
                    td 28.08.21
                    td 4000
                    td 4000
                tr
                    td 3
                    td 28.08.21
                    td 15000
                    td 4000
                tr
                    td 4
                    td 28.08.21
                    td 15000
                    td 4000
                tr
                    td 5
                    td 28.08.21
                    td 4000
                    td 4000
                tr
                    td 6
                    td 28.08.21
                    td 4000
                    td 4000
        div(class='text-base flex flex-wrap mt-2 -mx-2')
            div(class='flex-grow max-w-[18rem] px-2 mt-4')
                +lk-btn-blue('Оформить реструктуризацию')
            div(class='flex-grow max-w-[18rem] px-2 mt-4')
                +lk-btn('Погасить всю задолженность')