include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body()
        include pug/_header
        div(class="bg-F4 pb-44 pt-14")
            div(class="container")
                h1(class='text-5xl font-semibold') Ваш личный кабинет
                div(class='text-[2rem] font-semibold mt-4') Соломыкин Артём Андреевич
                div(class='lk-grid mt-10')
                    +aside
                    div(class='border border-[#CACACA] rounded-20px pt-5 pb-8 px-4 xl:px-8')
                        div(class='flex items-start justify-between')
                            div(class='text-2xl font-semibold') Пример заголовка
                            div(class='loans-carousel-arrows grid grid-cols-2 gap-2')
                        div(class="loans-carousel mt-8 lg:-ml-2 xl:-ml-4 lg:-mr-4 xl:-mr-8")
                            div(class='lg:px-2 xl:px-4')
                                div(class='bg-white rounded-20px shadow-plate p-4')
                                    div(class='text-base') Договор №12312849109 от 11.10.2021
                                    div(class='flex items-start mt-2')
                                        img(src=require('./images/elements/green-check.svg') class='mr-2.5 mt-0.5')
                                        div(class='text-sm')
                                            span Статус:&nbsp;
                                            span(class='font-semibold') Активный
                                    div(class='text-gray text-sm mt-2')
                                        div(class="m-1") Сумма займа: <strong>6000 руб.</strong>
                                        div(class="m-1") Сумма возврата: <strong>6500 руб.</strong>
                                        div(class="m-1") Срок: до <strong>15.11.2021</strong>
                                    div(class='mt-4')
                                        +lk-btn-blue('Оплатить 6500 руб.')
                                    div(class='mt-4')
                                        +lk-btn('Оформить рассрочку')
                                    div(class='mt-4')
                                        +lk-btn('Акция промокод')
                                    div(class='text-center mt-4')
                                        a(href='#' class='text-sm font-semibold hover:opacity-80') Информация о займе


                            div(class='lg:px-2 xl:px-4')
                                div(class='bg-white rounded-20px shadow-plate p-4')
                                    div(class='text-base') Договор №12312849109 от 11.10.2021
                                    div(class='flex items-start mt-2')
                                        img(src=require('./images/elements/alert.svg') class='mr-2.5 mt-0.5')
                                        div(class='text-sm')
                                            span Статус:&nbsp;
                                            span(class='font-semibold') Активный
                                    div(class='text-gray text-sm mt-2')
                                        div(class="m-1") Сумма займа: <strong>6000 руб.</strong>
                                        div(class="m-1") Сумма возврата: <strong>6500 руб.</strong>
                                        div(class="m-1") Процентная ставка: <strong>1%</strong>
                                        div(class="text-D3 m-1") Срок до: <strong>15.11.2021</strong>
                                    div(class='mt-4')
                                        +lk-btn-blue('Оплатить 6500 руб.')
                                    div(class='text-center mt-4')
                                        a(href='#' class='text-sm font-semibold hover:opacity-80') Информация о займе
                                    div(class='mt-4 pt-4 border-t border-87')
                                        div(class='text-lg font-semibold') Внимание!
                                    div(class='text-sm text-gray mt-2') По вашему займу открыто судебное взыскание №1231231, приказ №121423, а так же заведено Исполнительное производство в ФССП. Рекомендуем срочно погасить задолженность
                            div(class='lg:px-2 xl:px-4')
                                div(class='bg-white rounded-20px shadow-plate p-4')
                                    div(class='text-base') Договор №12312849109 от 11.10.2021
                                    div(class='flex items-start mt-2')
                                        img(src=require('./images/elements/check-orange.svg') class='mr-2.5 mt-0.5')
                                        div(class='text-sm')
                                            span Статус:&nbsp;
                                            span(class='font-semibold') Одобрен, ожидайте перевод
                                    div(class='text-gray text-sm mt-2')
                                        div(class="m-1") Сумма займа: 6000 руб.
                                        div(class="m-1") Сумма возврата: 6500 руб.
                                        div(class="m-1") Срок: до 15.11.2021
                                    div(class='mt-4')
                                        +lk-btn-blue('Оплатить 6500 руб.')
                                    div(class='mt-4')
                                        +lk-btn('Оформить рассрочку')
                                    div(class='mt-4')
                                        +lk-btn('Акция промокод')
                                    div(class='text-center mt-4')
                                        a(href='#' class='text-sm font-semibold hover:opacity-80') Информация о займе


                            div(class='lg:px-2 xl:px-4')
                                div(class='bg-white rounded-20px shadow-plate p-4')
                                    div(class='text-base') Договор №12312849109 от 11.10.2021
                                    div(class='flex items-start mt-2')
                                        img(src=require('./images/elements/check-orange.svg') class='mr-2.5 mt-0.5')
                                        div(class='text-sm')
                                            span Статус:&nbsp;
                                            span(class='font-semibold') Одобрен, ожидайте перевод
                                    div(class='text-gray text-sm mt-2')
                                        div(class="m-1") Сумма займа: 6000 руб.
                                        div(class="m-1") Сумма возврата: 6500 руб.
                                        div(class="m-1") Срок: до 15.11.2021
                                    div(class='mt-4')
                                        +lk-btn-blue('Оплатить 6500 руб.')
                                    div(class='mt-4')
                                        +lk-btn('Оформить рассрочку')
                                    div(class='mt-4')
                                        +lk-btn('Акция промокод')
                                    div(class='text-center mt-4')
                                        a(href='#' class='text-sm font-semibold hover:opacity-80') Информация о займе


    include pug/_footer