extends main-lk-page

block content
    h1(class='text-5xl font-semibold') Как взять займ
    div(class='calc-bottom-grid mt-14')
        div
            include pug/_questions-block
        div
            +calc-sm
