extends main-lk

block content
    +lk-h3('Займ по договору №12312849109')
    div(class='flex items-center mt-5')
        img(src=require('./images/elements/alert.svg') class='mr-2.5 mt-0.5')
        div(class='text-base')
            span Статус:&nbsp;
            span(class='font-semibold') Просрочен на 31 день
    div(class='text-base flex flex-wrap -mx-4')
        div(class='px-4 mt-4')
            span(class='text-gray') Сумма займа:&nbsp;
            span(class='font-semibold') 6000 руб
        div(class='px-4 mt-4')
            span(class='text-gray') Сумма возврата:&nbsp;
            span(class='font-semibold') 6500 руб
        div(class='px-4 mt-4')
            span(class='text-gray') Процентная ставка:&nbsp;
            span(class='font-semibold') 1%
        div(class='px-4 mt-4')
            span(class='text-D3') Срок до:&nbsp;
            span(class='text-D3 font-semibold') 15.11.2021
    div(class='text-base flex flex-wrap mt-2 -mx-2')
        div(class='flex-grow max-w-[18rem] px-2 mt-4')
            +lk-btn-blue('Оплатить 6500 руб')
    div(class='border-t border-[#CACACA] mt-6 pt-6')
        h4(class='text-lg font-semibold') Информация
        div(class='text-gray text-sm mt-2')
            p Клиентам, чьи карты застрахованы от мошенничества и утраты у нашего партнера – "Финзащита" предоставляется отсрочка погашения займа на 15 дней по промокоду.
            p Допустим, у вас сегодня срок погашения займа, но вы не располагаете достаточной суммой для его полного погашения вместе с процентами. Так же, у вас нет достаточных оснований, чтобы рассчитывать на предоставление реструктуризации в силу закона. В этом случае вам на помощь придет акция «Промокод от партнёра», проводимая совместно с нашими партнерами – "Финзащита" и Страховой компанией «ВСК».


