include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body()
        include pug/_header
        div(class="bg-F4 pb-44 pt-14")
            div(class="container")
                h1(class='text-5xl font-semibold') Ваш личный кабинет
                div(class='text-[2rem] font-semibold mt-4') Соломыкин Артём Андреевич
                div(class='lk-grid mt-10')
                    +aside
                    div(class='border border-[#CACACA] rounded-20px pt-5 pb-8 px-4 xl:px-8')
                        div(class='text-2xl font-semibold') Новая заявка
                        div(class='mt-6')
                            block content
    include pug/_footer