include pug/libs/_libs
doctype html
html(lang='en')
    include pug/_head
    body()
        include pug/_header
        div(class="bg-F4 pb-44 pt-14")
            div(class="container")
                block content
    include pug/_footer