extends main

block content
    div(class="bg-F4 pb-44")
        div(class="offer max-w-[1920px] mx-auto bg-no-repeat pt-28 pb-36 overflow-hidden")
            div(class="container")
                div(class="flex items-start -mx-4")
                    div(class="text-white relative w-7/12 px-4")
                        h1(class="font-semibold text-6xl xl:text-7xl") Самое лучшее УТП
                        div(class="text-2xl mt-6 max-w-[36rem]")
                            p Подстрочник, который раскрывает его суть и&nbsp;усиливает эффект
                        div(class="offer__img absolute")
                            img(src=require('./images/elements/offer-phone-black.png'))
                    div(class="w-5/12 px-4")
                        include pug/_offer-culc
        .container
            div(class="rounded-[3.75rem] bg-white pt-10 pb-8 px-14")
                div(class="max-w-[75rem]")
                    h3(class="text-2xl font-semibold") Взять микрозайм выгоднее по сравнению с долгосрочным кредитом
                    div(class="text-base mt-4")
                        p Бывают ситуации, когда требуется достаточно небольшая сумма 5 000 - 30 000 рублей, возможность вернуть которую, появляется через 1 -2 недели. Ради таких незначительных, но таких необходимых сумм, многие не желают отпрашиваться с работы, для получения кредита в банке. Тем более, что одним визитом, оформление займа в банке не ограничивается.
                        p Отличное решение, позволяющее преодолеть временно возникшие затруднения c деньгами – подать заявку в нашу компанию. Микрозаймы онлайн от ГлавФинанс – наилучшая альтернатива стандартному способу оформления займа. Идеально подходит тем, кому нужно срочно решить денежный вопрос. Чтобы получить наличные, вам потребуется всего 15 минут для заполнения анкеты.
            div(class="rounded-[3.75rem] bg-white pt-10 pb-8 px-14 mt-8")
                div(class="max-w-[75rem]")
                    h3(class="text-2xl font-semibold") Компания ГлавФинанс предоставляет возможность
                    div(class="text-base mt-4")
                        p Получить сумму до 30 000 рублей

                        p В течении 15 минут вы получите деньги на карту или счет в банке

                        p Без дополнительных документов - микрозаем предоставляется на основании одного документа

                        p Без поручителей - вы не беспокоите своих родных

                        p Без очередей - вам не нужно ни куда ехать и терять время, вся процедура проходит в режиме онлайн, не выходя из дома

                        p Моментальное зачисление средств после одобрения заявки на займ
            div(class='calc-bottom-grid mt-8')
                div(class='rounded-[3.75rem] bg-white pt-10 pb-8 px-14')
                    h3(class="text-2xl font-semibold") Взять микрозайм выгоднее по сравнению с долгосрочным кредитом
                    div(class="text-base mt-4")
                        p Бывают ситуации, когда требуется достаточно небольшая сумма 5 000 - 30 000 рублей, возможность вернуть которую, появляется через 1 -2 недели. Ради таких незначительных, но таких необходимых сумм, многие не желают отпрашиваться с работы, для получения кредита в банке. Тем более, что одним визитом, оформление займа в банке не ограничивается.
                        p Отличное решение, позволяющее преодолеть временно возникшие затруднения c деньгами – подать заявку в нашу компанию. Микрозаймы онлайн от ГлавФинанс – наилучшая альтернатива стандартному способу оформления займа. Идеально подходит тем, кому нужно срочно решить денежный вопрос. Чтобы получить наличные, вам потребуется всего 15 минут для заполнения анкеты.
                div
                    +calc-sm
