extends main-lk-page

block content
    h1(class='text-5xl font-semibold') Политика Общества с ограниченной ответственностью Микрокредитная компания "Главная Финансовая Компания" в отношении обработки и защиты персональных данных
    div(class='bg-white rounded-20px mt-6 py-6 px-6 pb-8')
        div(class='text-base max-w-5xl mt-4')
            <ol class="counter">
            <li><b>Общие положения термины.</b>
            <ol class="counter">
            <li>Политика обработки персональных данных Общество с ограниченной ответственностью Микрокредитная компания "Главная Финансовая Компания" (далее – Политика) разработана в соответствии с Федеральным законом от 27.07.2006 г. №152-ФЗ «О персональных данных» (далее – Федеральный закон), Федеральным законом РФ от 02.07.2010 № 151-ФЗ «О микрофинансовой деятельности и микрофинансовых организациях», Постановлением Правительства РФ от 01.11.2012 № 1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных», Постановлением Правительства РФ от 15.09.2008 № 687 «Об утверждении Положения об особенностях обработки персональных данных, осуществляемой без использования средств автоматизации» и иными нормативными правовыми актами в области персональных данных.</li>
            <li>Настоящая Политика определяет основные принципы, условия, цели и способы обработки персональных данных, функции Общество с ограниченной ответственностью Микрокредитная компания "Главная Финансовая Компания" (далее – Компания) при обработке персональных данных, права субъектов персональных данных, а также реализуемые требования к защите персональных данных.</li>
            <li>Положения Политики служат основой для разработки локальных нормативных актов, регламентирующих в Компании вопросы обработки персональных данных работников и других субъектов персональных данных.</li>
            <li>В настоящей Политике используются следующие термины и определения:<br>
            <b>оператор</b> -&nbsp;государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;<br>
            <b>персональные данные</b>&nbsp;– любая информация, относящаяся к прямо или косвенно определённому или определяемому физическому лицу (субъекту персональных данных);<br>
            <b>обработка персональных данных</b>&nbsp;– любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;<br>
            <b>автоматизированная обработка персональных данных</b>&nbsp;– обработка персональных данных с помощью средств вычислительной техники;<br>
            <b>распространение персональных данных</b>&nbsp;– действия, направленные на раскрытие персональных данных неопределённому кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;<br>
            <b>предоставление персональных данных</b>&nbsp;– действия, направленные на раскрытие персональных данных определённому лицу или определённому кругу лиц;<br>
            <b>блокирование персональных данных</b>&nbsp;– временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);<br>
            <b>уничтожение персональных данных</b>&nbsp;– действия, в результате которых невозможно восстановить содержание персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных;<br>
            <b>обезличивание персональных данных</b> – действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному субъекту персональных данных;<br>
            <b>информационная система персональных данных</b>&nbsp;– совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;</li>
            <li>Действие Политики распространяется на все персональные данные субъектов, обрабатываемые в Компании с применением средств автоматизации и без применения таких средств.</li>
            <li>К настоящей Политике должен иметь доступ любой субъект персональных данных.</li>
            </ol>
            </li>
            <li><b>Принципы и цели обработки. Состав персональных данных</b><br> Компания, являясь оператором персональных данных, осуществляет обработку персональных данных субъектов персональных данных на основе следующих принципов:
            <ol class="counter">
            <li>Обработка персональных данных субъектов осуществляется исключительно для обеспечения соблюдения федеральных законов и иных нормативных правовых актов, соответствия целям, заранее определенным и заявленным при сборе персональных данных;</li>
            <li>Объем и содержание обрабатываемых персональных данных субъектов, способы обработки персональных данных соответствуют требованиям федерального законодательства, а также другим нормативным актам и целям обработки персональных данных. Не допускается обработка персональных данных, избыточных по отношению к целям, заявленным при сборе персональных данных;</li>
            <li>Персональные данные Компания получает только у самого субъекта (или его законного представителя); при обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях актуальность по отношению к целям обработки персональных данных. Компанией принимаются необходимые меры по уничтожению (удалению) либо уточнению неполных или неточных данных.</li>
            <li>Обработка персональных данных субъектов персональных данных проводится Компанией с целью осуществления прав и обязанностей Работников в соответствии с трудовым законодательством; ведения персонифицированного учета; исполнения договорных и иных гражданско-правовых отношений при осуществлении Компанией хозяйственной деятельности; повышения оперативности и качества обслуживания клиентов установленного правилами Компании.</li>
            <li>Компанией обрабатываются следующие категории персональных данных:
            <ul>
            <li>физических лиц, заключивших с Компанией трудовые договоры;</li>
            <li>физических лиц, заключивших с Компанией гражданско-правовые договоры;</li>
            <li>других субъектов персональных данных в соответствии с локальными нормативными актами Компании для обеспечения реализации целей обработки.</li>
            </ul>
            </li>
            </ol>
            </li>
            <li><b>Условия обработки</b>
            <ol class="counter">
            <li>Порядок работы с персональными данными в Компании регламентирован действующим законодательством РФ, внутренними документами Компании и осуществляется с соблюдением строго определенных правил и условий.</li>
            <li>Обработка персональных данных в Компании осуществляется путем сбора, систематизации, накопления, хранения, уточнения (обновления, изменения), использования, передачи (предоставления, доступа), обезличивания, блокирования, уничтожения персональных данных исключительно для обеспечения соблюдения федерального законодательства и иных нормативных правовых актов, соответствия целям, заранее определенным и заявленным при сборе персональных данных, учета результатов выполнения договорных и иных гражданско-правовых обязательств с субъектом персональных данных. При этом используется смешанный (автоматизированный и неавтоматизированный) способ обработки персональных данных.</li>
            <li>Передача персональных данных третьим лицам осуществляется только в соответствии с действующим законодательством, в том числе с использованием защищенных телекоммуникационных каналов связи.</li>
            <li>В случае отзыва субъектом персональных данных согласия на обработку персональных данных оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 - 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона «О персональных данных».</li>
            <li>Компания не осуществляет трансграничную передачу персональных данных Клиентов.</li>
            <li>Сроки хранения документов, содержащих персональные данные субъектов, определяются в соответствии со сроком действия договора с субъектом персональных данных, Федеральным законом РФ «Об архивном деле в Российской Федерации» № 125-ФЗ от 22.10.2004 г., сроком исковой давности, а также иными требованиями законодательства РФ. По истечении сроков хранения таких документов они подлежат уничтожению.</li>
            <li>С целью защиты персональных данных при их обработке в информационных системах персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий с ними Компанией применяются организационные и технические меры.</li>
            </ol>
            </li>
            <li><b>Основные мероприятия по обеспечению безопасности обработки персональных данных</b>
            <ol class="counter">
            <li>Для защиты персональных данных при их обработке в Компании применяются организационные и технические меры;</li>
            <li>Доступ к персональным данным предоставляется только тем сотрудникам Компании, на которых возложена обязанность по их обработке. Указанные лица имеют право на обработку только тех персональных данных, которые необходимы им для выполнения конкретных функций, связанных с исполнением должностных обязанностей;</li>
            <li>Помещения, в которых производится обработка персональных данных или располагаются технические средства информационных систем персональных данных, относятся к категории «помещения ограниченного доступа»;</li>
            <li>Обработка персональных данных ведется сотрудниками Компании на рабочих местах, выделенных для исполнения ими должностных обязанностей;</li>
            <li>Рабочие места размещаются таким образом, чтобы исключить бесконтрольное использование конфиденциальной информации;</li>
            <li>Конфиденциальная информация, содержащая персональные данные субъектов персональных данных, проходит процедуру уничтожения в соответствии с принятым в Компании порядком в сроки, установленные законодательством РФ;</li>
            <li>Проводятся процедуры, направленные на обнаружение фактов несанкционированного доступа к персональным данным и принятие соответствующих мер;</li>
            <li>Проводится резервное копирование баз данных информационных систем персональных данных с целью восстановления персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;</li>
            <li>Разграничены права доступа к персональным данным, обрабатываемым в информационных системах персональных данных;</li>
            <li>Проводится ознакомление работников Компании, непосредственно осуществляющих обработку персональных данных либо имеющих к ним доступ в силу своих должностных обязанностей, с положениями законодательства РФ, требованиями к защите персональных данных, локальными нормативными актами Компании по вопросам обработки персональных данных;</li>
            <li>Своевременно выявляются и предотвращаются нарушения требований законодательства РФ в области обработки персональных данных, устраняются последствия таких нарушений;</li>
            <li>Проводится контроль за принимаемыми мерами по обеспечению безопасности персональных данных при их обработке, а также проводится контроль соответствия обработки персональных данных требованиям Федерального закона «О персональных данных» № 152-ФЗ от 27.07.2006 г. и принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, локальным нормативным актам Компании.</li>
            </ol>
            </li>
            <li><b>Порядок предоставления информации, содержащей персональные данные</b>
            <ol class="counter">
            <li>При обращении субъекта персональных данных (владельца этих данных или его законного представителя) или получении запроса Компания безвозмездно предоставляет в течение 30 дней с даты получения запроса или обращения персональные данные, относящиеся к субъекту персональных данных, в доступной форме, исключающей предоставление персональных данных, относящихся к другим субъектам персональных данных.</li>
            <li>Сторонние организации имеют право доступа к персональным данным субъектов персональных данных только, если они наделены необходимыми полномочиями в соответствии с законодательством РФ, либо на основании договоров с Компанией, заключенных в связи с требованиями законодательства РФ.</li>
            <li>Основанием для сотрудника Компании в целях предоставления информации о персональных данных субъектов служит резолюция директора Компании на соответствующем запросе либо факт подписания соглашения (договора) об информационном обмене.</li>
            <li>В соглашение (договор) об информационном обмене включается условие о неразглашении сведений, составляющих персональные данные субъектов, а также служебной информации, ставшей известной в ходе выполнения работ, если для их выполнения предусмотрено использование таких сведений.</li>
            <li>При передаче персональных данных субъектов Компания и уполномоченные им должностные лица соблюдают следующие требования:
            <ol class="counter">
            <li>не сообщают персональные данные третьей стороне без письменного согласия субъекта, за исключением случаев, когда это необходимо в целях предупреждения угрозы жизни и здоровью субъекта, а также в случаях, установленных федеральным законодательством;</li>
            <li>предупреждают лиц, получающих персональные данные, о том, что эти данные могут быть использованы только в целях, для которых они сообщены, и требуют от этих лиц подтверждения соблюдения этого условия, за исключением случаев, установленных федеральным законодательством;</li>
            <li>не отвечают на вопросы, связанные с предоставлением персональной информации, любым третьим лицам без законных оснований (письменного запроса);</li>
            <li>ведут учет передачи персональных данных субъектов по поступившим в Компанию запросам субъектов.</li>
            </ol>
            </li>
            </ol>
            </li>
            <li><b>Ответственность за нарушение требований, регулирующих получение, обработку и хранение персональных данных</b>
            <ol class="counter">
            <li>Должностные лица Компании, обрабатывающие персональные данные, несут ответственность в соответствии с действующим законодательством РФ за нарушение режима защиты, обработки и порядка использования этой информации.</li>
            <li>Лица, виновные в нарушении норм, регулирующих получение, обработку и защиту персональных данных, несут дисциплинарную, гражданско-правовую, административную или уголовную ответственность в соответствии с действующим законодательством РФ.</li>
            </ol>
            </li>
            <li><b>Заключительные положения</b>
            <ol class="counter">
            <li>Настоящая Политика вступает в силу с момента ее утверждения Директором Компании.</li>
            <li>Настоящая Политика подлежит корректировке в случае изменения законодательства РФ, регулирующих органов в области защиты персональных данных, внутренних документов Компании в области защиты конфиденциальной информации. При внесении изменений в заголовке Политики указывается номер версии и дата последнего обновления редакции. Новая редакция Политики вступает в силу с момента ее утверждения Руководителем Компании.</li>
            <li>В случае изменения законодательства РФ в области защиты персональных данных, нормы Политики, противоречащие законодательству, не применяются до приведения их в соответствие.</li>
            <li>Действующая редакция Политики хранится по адресу: 350000, г. Краснодар ул. Коммунаров, 76, офис 365/4</li>
            <li>Настоящая Политика является внутренним документом Компании, общедоступной и подлежит размещению на официальном сайте в сети Интернет – <a href="http://glavfinans.ru">glavfinans.ru</a></li>
            </ol>
            </li>
            </ol>

