extends main-lk-page

block content
    h1(class='text-5xl font-semibold') Погашение займа онлайн
    div(class='bg-white rounded-20px max-w-xl mt-6 py-6 px-6 pb-8')
        form(class="mt-4")
            div(class="grid gap-y-4")
                div
                    +input('Номер телефона', 'phone-mask')
                    +inputCaption('Укажите тот номер, с которого вы оформляли займ')
                div
                    +input-date('Дата рождения*', 'date-mask')
                    +inputCaption('ДД.ММ.ГГ')
                div
                    +btnGradient('Найти займ')

