extends main-lk-page

block content
    h1(class='text-5xl font-semibold') Требования к заёмщику
    div(class='bg-white rounded-20px mt-6 py-6 px-6 pb-8')
        h3(class='font-semibold text-2xl') Требования к заёмщику
        div(class='max-w-5xl mt-4')
            ul(class="simple-list mt-8")
                li Гражданство Российской федерации
                li Постоянная регистрация в России
                li Официальная трудоустроенность
                li Минимальный возраст заёмщика - не менее 18 лет
                li Наличие паспорта + СНИЛС
                li Личное фото с разворотом паспорта в руке (ЧИТАЕМОЕ. Серию и номер не закрывать!)
                li Фото и скан прописки
                li Банковскую карту Visa, MasterCard, МИР при выборе способа получения на карту
            div(class='mt-8')
                h3(class='text-lg font-semibold') Дополнительная информация
                ul(class="simple-list mt-6")
                    li
                        a(href="#" class="text-blue") Правила предоставления займа
                    li
                        a(href="#" class="text-blue") Нормативные документы
                    li
                        a(href="#" class="text-blue") Политика безопасности
