extends steps

block content
    +title('Рассматриваем вашу заявку')
    div(class="text-center text-base text-87 mt-8")
        | Возможно, в процессе рассмотрения с вами свяжется наш специалист для уточнения деталей
    div(class='mt-5')
        include pug/_short-logo
    div(class='text-lg font-semibold mt-12 mb-6') Ответы на частые вопросы
    include pug/_questions-block
    div(class='mt-4')
        +btn-prev('Предыдущий шаг')


