include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body()
        include pug/_header
        div(class="bg-blue py-28")
            div(class="white-container relative overflow-hidden")
                div(class="mx-auto max-w-[31rem]")
                    block content
    include pug/_footer