extends steps

block content
    +title('Подтверждение заявки на займ')
    div(class="text-center text-base text-87 mt-8")
        | Для подтверждения условий заявки и номера телефона введите код из СМС
    form(class='mt-8')
        div
            +inputValidate('Код из СМС')
            +inputCaption('Направили СМС на номер +7 928 468 20 61')
            div(class="text-D3 text-sm mt-1.5") Введен неверный код
        div(class="mt-6")
            +btnGradient('Подтверждаю')
    div(class='text-center mt-4')
        a(href='#' class='text-base text-center font-semibold hover:opacity-80') Получить новый код через 30 сек




