extends steps

block content
    +title('Поздравляем!')
    div(class="text-center text-base text-87 mt-8")
        p Ваш займ одобрен. Для получения денег осталось только привязать именную банковскую карту и загрузить фото паспорта. При возникновении вопросов. Вы можете обратиться по бесплатному номеру, указанному ниже.
    div(class='text-center mt-4')
        a(href="tel:+78007773705" class='text-[2rem] text-blue font-semibold hover:opacity-80') 8 800 777 37 05
    div(class='mt-5')
        include pug/_short-logo