extends steps

block content
    +title('Повысить рейтинг легко!')
    div(class="text-center text-base text-87 mt-2")
        | Рекомендуем оформить услугу <a href="#" class="text-blue">страхования</a>, это не дорогой способ защитить вас от возможных трудностей с погашением займа
    div(class="mt-6 max-w-[20rem] mx-auto")
        +btnGradient('Хочу застраховаться')
    div(class='text-center mt-4')
        a(href='#' class='no-save text-base text-center text-gray hover:opacity-80') Мне не нужна страховка
    div(class="bg-white shadow-plate mt-12 rounded-20px p-6 px-5")
        h2(class="font-semibold mb-2") Преимущества страховки
        div
            p Клиентам, чьи карты застрахованы от мошенничества и утраты у нашего партнера – "Финзащита" предоставляется отсрочка погашения займа на 15 дней по промокоду.
            p Допустим, у вас сегодня срок погашения займа, но вы не располагаете достаточной суммой для его полного погашения вместе с процентами. Так же, у вас нет достаточных оснований, чтобы рассчитывать на предоставление реструктуризации в силу закона. В этом случае вам на помощь придет акция «Промокод от партнёра», проводимая совместно с нашими партнерами – "Финзащита" и Страховой компанией «ВСК».
    div(class="white-container-dialog hidden absolute w-full h-full bg-black mx-auto left-0 right-0 top-0")
        div(class='relative w-full h-full')
            div(class='absolute left-0 right-0 mx-auto mt-40 bg-white rounded-20px p-6 max-w-[28rem]')
                h2(class="font-semibold text-center") Вы уверены?
                p(class="text-gray text-base text-center") Клиентам, чьи карты застрахованы от мошенничества и утраты у нашего партнера – "Финзащита" предоставляется отсрочка погашения займа на 15 дней по промокоду.
                div(class="mt-6 max-w-[20rem] mx-auto")
                    +btnGradient('Хочу застраховаться')
                div(class='no-save-confirm text-sm text-gray text-center mt-4 cursor-pointer hover:opacity-80') Мне не нужна страховака


