extends steps

block content
    +title('Рассматриваем вашу заявку')
    div(class='mt-5')
        img(src=require('./images/elements/short-logo.svg') class='block mx-auto')
    div(class="bg-white shadow-plate mt-12 rounded-20px p-6 px-5")
        h2(class="font-semibold mb-2") У вас есть возможность повысить свой рейтинг заемщика
        div
            p(class='text-gray') Рекомендуем оформить услугу <a href="#" class="text-blue">страхования</a>, это не дорогой способ защитить вас от возможных трудностей с погашением займа
    div(class="mt-6")
        +btnGradient('Повысить рейтинг')
    div(class='text-center mt-4')
        a(href='#' class='text-base text-center text-gray hover:opacity-80') Не хочу повышать рейтинг


