extends steps

block content
    +title('Повысить рейтинг легко!')
    div(class="text-center text-base text-87 mt-2")
        | Рекомендуем оформить услугу <a href="#" class="text-blue">страхования</a> от нашего партнера, это простой способ уменьшить риск неплатежеспособности всего за 1000 руб.
    div(class="mt-6 max-w-[20rem] mx-auto")
        +btnGradient('Хочу застраховаться')
        div(class='mt-2')
            +btnBlueBorder('Мне не нужна страховка', 'no-save rounded-90')
    div(class="bg-white shadow-plate mt-12 rounded-20px p-6 px-5")
        h2(class="font-semibold mb-2") Партнерские предложения
        form(class='offers mt-6')
            div(class="flex items-start relative")
                label(class='flex-shrink-0 mr-3')
                    input(type='checkbox' name="insurance" checked class="offers__main checkbox-blue hidden")
                    span(class='checkbox-blue-custom flex items-center justify-center w-4 h-4 mt-0.5 cursor-pointer')
                div(class='text-sm text-87') Прошу оказать услугу <a href="#" class="text-blue">страхования</a> риска неплатежеспособности. Стоимость услуги 900 руб.
                div(class="px-2 py-1 cursor-pointer absolute bottom-0 cursor-pointer open transform duration-300 transition" style="right: 0.5rem")
                    <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9 9L17 1" stroke="black"/>
                    </svg>
            div(class="offers__main-inner hidden pl-6 mt-4")
                div(class="flex items-start")
                    label(class='flex-shrink-0 mr-3')
                        input(type='checkbox' name="accept" checked class="offers__sub-one checkbox-blue hidden")
                        span(class='checkbox-blue-custom flex items-center justify-center w-4 h-4 mt-0.5 cursor-pointer')
                    div(class='text-sm text-87') Даю согласие на <a href="#" class="text-blue">обработку персональных данных</a>
                div(class="flex items-start mt-2")
                    label(class='flex-shrink-0 mr-3')
                        input(type='checkbox' name="cancellation" checked class="offers__sub-two checkbox-blue hidden")
                        span(class='checkbox-blue-custom flex items-center justify-center w-4 h-4 mt-0.5 cursor-pointer')
                    div(class='text-sm text-87') Даю согласие на <a href="#" class="text-blue">безакцептное списание</a>
            div(class="flex items-start mt-4")
                label(class='flex-shrink-0 mr-3')
                    input(type='checkbox' name="insurance-fail" class="offers__fail checkbox-blue hidden")
                    span(class='checkbox-blue-custom flex items-center justify-center w-4 h-4 mt-0.5 cursor-pointer')
                div(class='text-sm text-87') У меня идеальная кридитная история. В повышении платежеспособности не нуждаюсь. Отказываюсь от услуги страхования.


    div(class="text-center text-base text-87 mt-6")
        | Если у вас идеальная кредитная история и вы не нуждаетесь в повышении платежеспособности - вы можете отказаться от услуги страхования.
    div(class="white-container-dialog hidden absolute w-full h-full bg-black mx-auto left-0 right-0 top-0")
        div(class='relative w-full h-full')
            div(class='absolute left-0 right-0 mx-auto mt-40 bg-white rounded-20px p-6 max-w-[28rem]')
                h2(class="font-semibold text-center") Вы уверены?
                p(class="text-gray text-base text-center") Можем повысить рейтинг.
                div(class="mt-6 max-w-[20rem] mx-auto")
                    +btnGradient('Да, повысить рейтинг')
                div(class='no-save-confirm text-sm text-gray text-center mt-4 cursor-pointer hover:opacity-80') Нет, повышать не нужно


