extends steps

block content
    +title('Повысить рейтинг легко!')
    div(class="text-center text-base text-87 mt-2")
        | Рекомендуем оформить услугу <a href="#" class="text-blue">страхования</a> от нашего партнера, это простой способ уменьшить риск неплатежеспособности всего за 1000 руб.
    div(class="mt-6 max-w-[20rem] mx-auto")
        +btnGradient('Хочу застраховаться')
        div(class='mt-2')
            +btnBlueBorder('Мне не нужна страховка', 'no-save rounded-90')
    div(class="bg-white shadow-plate mt-12 rounded-20px p-6 px-5")
        h2(class="font-semibold mb-2") Партнерские предложения
        div чекбоксы
    div(class="text-center text-base text-87 mt-6")
        | Если у вас идеальная кредитная история и вы не нуждаетесь в повышении платежеспособности - вы можете отказаться от услуги страхования.
    div(class="white-container-dialog hidden absolute w-full h-full bg-black mx-auto left-0 right-0 top-0")
        div(class='relative w-full h-full')
            div(class='absolute left-0 right-0 mx-auto mt-40 bg-white rounded-20px p-6 max-w-[28rem]')
                h2(class="font-semibold text-center") Вы уверены?
                p(class="text-gray text-base text-center") Можем повысить рейтинг.
                div(class="mt-6 max-w-[20rem] mx-auto")
                    +btnGradient('Да, повысить рейтинг')
                div(class='no-save-confirm text-sm text-gray text-center mt-4 cursor-pointer hover:opacity-80') Нет, повышать не нужно


