extends steps

block content
    +title('Решение по вашей заявке')
    div(class="text-center text-base text-87 mt-8")
        p К сожалению, вам было отказано по причине недостаточно высокого кредитного рейтинга. О том, что влияет на рейтинг и как его можно повысить читайте ниже.
    div(class='mt-6')
        +btnGradient('Взять займы у партнёров')
    div(class='mt-6')
        +btnBlueBorder('Переподать заявку на займ', 'rounded-90')
    div(class='mt-5')
        include pug/_short-logo
    div(class='text-lg font-semibold mt-12 mb-6') Ответы на частые вопросы
    include pug/_questions-block
